{% extends "main.html" %}
{% block content %}
	<div class="row">
		<div class="category_item">
		    <h3 class="list_header">Edit Movie Item</h3>
			<form action="#" method="post" class="item_form">
				<fieldset>
				    <div class="name_row">
						<label for="" class="form_label">Name:</label>
						<input type ="text" class="form_control" name="name" value="{{item.name}}">
					</div>
					<div class="discription_row">
					    <label for="" class="form_label">Description:</label>
					</div>
					<div class="discription_input">
					    <textarea name="description" id="" cols="60" rows="15" class="form_text">{{item.description}}</textarea>
					</div>
					<div class="category_row">
					    <label for="" class="form_label">Category:</label>
					    <select class="form_select" name="category">
						{% for category in categories %}
							{% if item.category_id == category.id %}
								<option selected value="{{category.id}}">{{category.name}}</option>
							{% else %}
								<option value="{{category.id}}">{{category.name}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</fieldset>
				<a href="{{url_for('showItem', category_id = item.category_id ,item_id = item.id )}}" class="back_button">Back</a>
				<input type="submit" value="Save">
			</form>
		</div>
	</div>
{% endblock %}